<%- include("header")  %>

<div id="controls">
    <i id="closeBtn" class="far fa-times-circle"></i>
</div>

<main>    
    <section id="statusMessage">
    </section>
    
    <section class="game" id="game">
    </section>    
</main>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script>const gameId = "<%= id %>";</script>
<script src="./js/client.js"></script>


<%- include("footer")  %>