<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Memory</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="./css/style.css">
    <meta property="og:image" content="https://i.imgur.com/SnwhkYu.png">  
    <meta property="og:title" content = "Play Memory">
    <meta property="og:description" content="Play memory with any number of cards against anyone online">
    <meta property="og:type" content="Website">
    <meta property="og:url" content="https://playmemory.herokuapp.com">
    <meta property="og:site_name" content="Play Memory">
</head>
<body>