<%- include("./top.ejs")  %> 

    <header class="header">
        Play Memory
    </header>
    <section class="welcome">   
        <p>Your memory game link is</p>
        <p class="linkContainer">
            <a title="game url" id="link" href="#"></a>
        </p>
        <p>
            <i id="copyBtn" title="copy url to clipboard" class="far fa-clipboard"></i>
        </p>
        <p>
            Share that link with someone to play with. Have fun!
        </p>
        <p>
            Change the card amount: <input id="amountInput" type="number" value="16" min="2" step="2" max="42">
        </p>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script>const id = "<%= id %>";</script>
    <script src="./js/home.js"></script>

    <%- include("./footer.ejs")  %> 