<%- include("./top.ejs")  %> 

    <header class="header">
        Play Memory
    </header>
    <section class="welcome">   
        <p>Your memory game link is</p>
        <p class="linkContainer">
            <a title="game url" id="link" href="#"></a>
        </p>
        <p>
            <i id="copyBtn" title="copy url to clipboard" class="far fa-clipboard"></i>
        </p>
        <p>
            Share that link with someone to play with. Have fun!
        </p>
    </section>

    <script>
        function copyStringToClipboard(str) {
            const el = document.createElement("textarea");
            el.style.opacity = 0;
            el.value = str;
            el.setAttribute("readonly", "");
            document.body.appendChild(el);
            el.select();
            document.execCommand("copy");
            el.remove();
        }
        const id = "<%= id %>";  
        const url = `${window.location}game?id=${id}`;
        const link = document.getElementById("link");
        link.textContent = url;
        link.href = url;
        const copyBtn = document.getElementById("copyBtn");
        copyBtn.addEventListener("click", () => {
            copyStringToClipboard(url);
            copyBtn.classList.add("clicked");
            setTimeout(() => {
                copyBtn.classList.remove("clicked");
            },200);
        });

    </script> 

    <%- include("./footer.ejs")  %> 